* 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body /* in App.js */
{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a
{
  color: #333;
  text-decoration: none;
}

.container /* in App.js */
{
  padding: 0 1rem;
}

.btn  /* button in AddTodo.js */
{
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover
{
  background: #666;
}
